@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root{
    --main: 22 22 22;
    --secondary: 255 150 0;
    --third: 6 6 6;
    --fourth: 255 255 255;
    --firth: 28 28 35;
    --sixth : 108 108 108;
    --cover: 1 18 31;
    --true : 6 148 22;
    --transparent : transparent;
  }
  .light{
    --main: 223 233 240;
    --secondary: 45 62 79;
    --third: 0 28 48;
    --fourth: 43 43 43;
    --firth: 255 255 255;
    --sixth : 129 147 147;
    --cover: 1 18 31;
    --true : 6 148 22;
    --transparent : transparent;

  }
}



*::selection{
    background-color: #134362;
    color: #f8dec3;
}



html::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1b313f;
  height: 1rem;
}

.noscrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Impact;
  src: url(./fonts/impact.ttf);
}

.impact{
    font-family: "Impact";
    letter-spacing: 0.5px;
}

@font-face {
  font-family: Universal;
  src: url(./fonts/cambriab.ttf);
}

.cambria{
    font-family: "Universal";
    letter-spacing: 0.5px;
}



